<li>
  <div class="col-sm-12">
    <div class="col-sm-2 text-center">
      <%= image_tag post.user.avatar.url(:minithumb) %>
      <h5> <%= post.user.name %> </h5>
    </div>
    <div class="col-sm-8">
      <p><%= post.text %></p>
      <span class="data"> <i><%= post.created_at.strftime("%d/%m/%Y %R") %></i> </span>
    </div>
    <div class="col-sm-2 buttons">
      <% if user_signed_in? and post.user == current_user %>
        <%= link_to posts_delete_path(post) , method: :delete, class: 'link' do %>
            <button class="btn btn-sm btn-vita btn-vita-danger" type="button">
                  <small>Delete</small>
             </button>
          <% end %>
      <% end %>
    </div>
  </div>
</li>
