<div id="list">
  <div id="middle">

    <div class="form-crud">
      <div class="row form-title-area">
        <div class="col-xs-9">
          <h3> User/ Change Password </h3>
        </div>

      </div>
        <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put , class: 'form-horizontal'}) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <label for="active" class="col-sm-3 control-label">
              <strong>Old Password</strong>
              <br>
              <small class="text-muted">
                Enter old password
              </small>
            </label>

            <div class="col-sm-9">
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label for="active" class="col-sm-3 control-label">
              <strong>New password</strong>
              <br>
              <small class="text-muted">
                Enter new password (min 8 chars.)
              </small>
            </label>

            <div class="col-sm-9">
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
          </div>


          <div class="form-group">
            <label for="active" class="col-sm-3 control-label">
              <strong>Confirmation</strong>
              <br>
              <small class="text-muted">
                Confirm new password
              </small>
            </label>

            <div class="col-sm-9">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <%= f.submit "Update",class: "btn btn-vita btn-vita-success" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
